img {
  height: 300px;
  width: 400px;
}


/*@keyframes slideInRight img {
  from {
    transform: translate3d(100%, 0, 0);
    visibility: visible;
  }

  to {
    transform: translate3d(0, 0, 0);
  }
}

.slideInRight {
  animation-name: slideInRight;
}*/
