<style>
  .navbar {
  background-color: #ff704d;
color: white;
}

.btn{
  background-color: #ff704d;
}
</style>








<nav class="navbar navbar-default" ng-repeat="user in hc.currentUser.details">
<div class="container-fluid">

 <div class="navbar-header">
   <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
     <span class="sr-only">Toggle navigation</span>
     <span class="icon-bar"></span>
     <span class="icon-bar"></span>
     <span class="icon-bar"></span>
   </button>
 <img class= "logoHead" ng-src="../assets/breedhead3.png">
 </div>


<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
   <ul class="nav navbar-nav">
     <li><a href="#">Breeds</a></li>
     <li><a href="#">Resources</a></li>
     <li><a ng-click="wc.login()" ng-href="#!profile/{{user.id}}">Profile</a></li>

   </ul>

   <form class="navbar-form navbar-left">
     <div class="form-group">
       <input type="text" class="form-control" placeholder="Search">
     </div>
     <button type="submit" class="btn btn-default">Submit</button>
   </form>
   <ul class="nav navbar-nav navbar-right">
     <li ng-click="hc.logOut()"><span class="glyphicon glyphicon-log-out"></span> Logout</li><br>
     <li>
       {{hc.secretData}}
     </li>
   </ul>

     <!-- </li> -->

 </div>
</div>

</nav>














<header class="business-header">
       <div class="container">
           <div class="row">
               <div class="col-lg-12">
                   <h1 class="tagline">Welcome to Breed All About It</h1>
               </div>
           </div>
       </div>
   </header>

   <!-- Page Content -->
   <div class="container">

       <hr>

       <div class="row">
           <div class="col-sm-8">

               <p>Breed All About It helps connect potential dog owners with their perfect fit companion.......blah blah </p>
               <p></p>

              <p>
                   <a class="btn btn-default btn-lg" href="#!/puppers">Find your new best friend &raquo;</a>
               </p>
           </div>
       </div>
       <!-- < /.row   -->

       <hr>

       <div class="row">
           <div class="col-sm-4">
               <img class="img-circle img-responsive img-center" src="../assets/sheltiekid.jpg"  alt="">
               <h2>Testimonial #1</h2>
               <p></p>
           </div>
           <div class="col-sm-4">
               <img class="img-circle img-responsive img-center" ng-src="../assets/engage.jpg" alt="">
               <h2>Testimonial #2</h2>
               <p></p>
           </div>
           <div class="col-sm-4">
               <img class="img-circle img-responsive img-center" src="../assets/mullet.jpg" alt="">
               <h2>Testimonial #3</h2>
               <p></p>
           </div>
       </div>
       <!-- /.row -->

       <hr>
</div>
