



<style>
body {
  background-color: #F4F190;
}
img{
  height: auto;
  width: auto;
}

@font-face {
    font-family: "PuppyBellies";
    src: url(../assets/PuppyBellies.ttf);
}

h1 {
  font-family: "PuppyBellies";
  font-size: 48px;
}

.jumbotron {
background-color: #ff704d;
color: black;
}

  </style>




<!-- First Container -->
<div class="container-fluid bg-1 text-center">
  <div class="jumbotron">
    <b><h1>Breed all About it</h1></b>
</div>

    <img ng-src="../assets/dogsil-8.png" class="animated slideInUp">

<img ng-src="../assets/dogsil-4.png" class="animated slideInRight">

<img ng-src="../assets/dogsil-7.png" class="animated slideInLeft">

<img ng-src="../assets/dogsil-5.png" class="animated slideInDown">
<br>
<a class="btn btn-default" ng-href="#!/puppers" role="button">Find your new best friend</a>
</div>
