<style>
  .navbar {
  background-color: #ff704d;
color: white;
}

.btn{
  background-color: #ff704d;
}

blockquote{
    border-left:none
}

.quote-badge{
    background-color: rgba(0, 0, 0, 0.2);
}



.quotation-mark{

    margin-top: -10px;
    font-weight: bold;
    font-size:80px;
    color:black;
    font-family: "Times New Roman", Georgia, Serif;

}

.quote-text{

    font-size: 14px;
    margin-top: -65px;
    color: black;
}
</style>








<nav class="navbar navbar-default" >
<div class="container-fluid">

 <div class="navbar-header">
   <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
     <span class="sr-only">Toggle navigation</span>
     <span class="icon-bar"></span>
     <span class="icon-bar"></span>
     <span class="icon-bar"></span>
   </button>
 <img class= "logoHead" ng-src="../assets/breedhead3.png">
 </div>


<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
   <ul class="nav navbar-nav">
     <li><a ng-href="#!breeds">Breeds</a></li>
     <li><a href="#">Resources</a></li>
     <li><a ng-click="wc.login()" ng-href="#!profile/1">Profile</a></li>

   </ul>


   <ul class="nav navbar-nav navbar-right">
     <li ng-click="hc.logOut()"><span class="glyphicon glyphicon-log-out"></span> Logout</li><br>
     <li>
       {{hc.secretData}}
     </li>
   </ul>

     <!-- </li> -->

 </div>
</div>

</nav>














<header class="business-header">
       <div class="container">
           <div class="row">
               <div class="col-lg-12">
                   <h1 class="tagline">Welcome to Breed All About It</h1>
               </div>
           </div>
       </div>
   </header>

   <!-- Page Content -->
   <div class="container">

       <hr>

       <div class="row">
           <div class="col-sm-8">

               <p>Nearly 2 million dogs each year are surrendered to animal shelters. At Breed All About It, it is our mission to help significantly decrease that number. We believe with education and the proper resources, we can connect potential dog owners with their perfect fit companion.  </p>
               <p></p>

              <p>
                   <a class="btn btn-default btn-lg" href="#!/puppers">Find your new best friend &raquo;</a>
               </p>
           </div>
       </div>
       <!-- < /.row   -->

       <hr>

       <div class="row">
           <div class="col-sm-4">
               <img class="img-circle img-responsive img-center" src="../assets/sheltiekid.jpg"  alt="">
               <p class="quotation-mark">
                 “
               </p>
               <br>
               <p class = "quote-text">We wanted to find a companion that would grow with our young daughter, Edith. Neither of us have owned a dog before, so we were uncertian what breed may be right for our family. Enter Breed All About It. After taking your survey, we were able to narrow down our perfect fit. Now we couldn't imagine our lives without our sweet sheltie, Ivey. Her and Edith are like peas and carrots. </p>
           </div>

    <div class="col-sm-4">
           <img class="img-circle img-responsive img-center" src="../assets/engage.jpg" alt="">


  <p class="quotation-mark">
    “
  </p>
  <br>
  <p class="quote-text">
  In January of this year, we adopted the MOST handsome guy named Jack Jack. To say he is a good dog is a laughable understatement. His arrival filled our home with a peace and a balance words cannot explain. He is the perfect companion for our acitve lifestyle. Keep up the good work, Breed All About It!</p>

</div>


           <div class="col-sm-4">
               <img class="img-circle img-responsive img-center" src="../assets/mullet.jpg" alt="">
<p class="quotation-mark">
        “
      </p>
      <br>
      <p class="quote-text">
        Ever since I moved out of my parents' basement, I’ve been looking for that special companion to fulfill my life – but I didn’t know where to look. Thank goodness a friend told me about Breed All About It! I was able to find my perfect pet in just a few clicks. Stella and I are now able to spend days playing fetch and evenings taking long walks around the lake. Thanks, Breed All About It – you definitely are the Chuck Woolery of dog-matching!</p>

</div>
</div>
</div>
