<style>
/*body{
  background-color: #F4F190;
  color: white;
}*/
.logoHead{

  height: 50px;
  width: 400px;
}

.navbar {
  background-color: #FF7371;
  color: white;
}

.btn {
    background-color: #FF7371;
}
.panel-heading {
    background-color: #FF7371;
}

</style>

<nav class="navbar navbar-default">
<div class="container-fluid">

 <div class="navbar-header">
   <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
     <span class="sr-only">Toggle navigation</span>
     <span class="icon-bar"></span>
     <span class="icon-bar"></span>
     <span class="icon-bar"></span>
   </button>
 <img class= "logoHead" ng-src="../assets/breedhead3.png">
 </div>



    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li><a ng-href="#!home">Home</a></li>
        <li><a href="#">Breeds</a></li>
        <li><a href="#">Resources</a></li>


    </ul>


      <ul class="nav navbar-nav navbar-right">
      <li ng-click="pc.logOut()"><span class="glyphicon glyphicon-log-out"></span> Logout</li><br>
          <li>
            {{pc.secretData}}
          </li>


        </ul>
      </div>
    </div>
</nav>


        <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 col-xs-offset-0 col-sm-offset-0 col-md-offset-3 col-lg-offset-3 toppad" >


          <div class="panel panel-info">
            <div class="panel-heading">

              <h3 class="panel-title">Melissa Hare</h3>
            </div>
            <div class="panel-body">
              <div class="row">
                <div class="col-md-3 col-lg-3 " align="center"> <img ng-src="../assets/littlemissee.jpg" class="img-circle img-responsive"> </div>


                <div class=" col-md-9 col-lg-9 ">
                  <table class="table table-user-information">
                    <tbody>


                      <tr>
                        <td>Birthday</td>
                        <td>01/12</td>
                      </tr>

                         <tr>
                             <tr>
                        <td>Gender</td>
                        <td>Female</td>
                      </tr>
                        <tr>
                        <td>Country</td>
                        <td>United States</td>
                      </tr>
                      <tr>
                        <td>Email</td>
                        <td><a href="mailto:info@support.com">hare.melissa@gmail.com</a></td>
                      </tr>
                        <td>Bio</td>
                        <td><br><br>
                        </td>

                      </tr>

                    </tbody>
                  </table>




                  <a ng-href="#!puppers" class="btn btn-primary">Your saved results</a>


                </div>
              </div>
            </div>
                 <div class="panel-footer">
                        <a data-original-title="Broadcast Message" data-toggle="tooltip" type="button" class="btn btn-sm btn-primary"><i class="glyphicon glyphicon-envelope"></i></a>
                        <span class="pull-right">

                        </span>
                    </div>

          </div>
        </div>
