





<style>
body{
  background-color: #F4F190;
}
.logoHead{

  height: 50px;
  width: 400px;
}
.navbar {
  background-color: #FF7371;
}
.btn{
  background-color: #FF7371;
}



</style>
<!-- end styling -->







<div ng-show="pc.question1">
  <div class="wrapper">
    <div class="box">
      <div class="main-container">
        <div class="left-cl">

          <img ng-src="../assets/shed.jpg" class="questionpic1">
        </div>

        <div class="right-cl">

          <h2 class="questions">Do you find excessive shedding bothersome?</h2>


          <button class="question" ng-click="pc.next1('low')">Yes</button>
          <button class="question" ng-click="pc.next1('high')">No </button>

        </div>
      </div>
    </div>
  </div>
</div>


<div ng-show="pc.question2">
  <div class="wrapper">
    <div class="box">
      <div class="main-container">
        <div class="left-cl">

          <img ng-src="../assets/drool.jpg" class="questionpic2">
        </div>
        <div class="right-cl">
          <h2 class="questions">How about excessive slobber?</h2>

          <button class="question" ng-click="pc.next2('low')"> Yes</button>
          <button class="question" ng-click="pc.next2('high')">No</button>

        </div>
      </div>
    </div>
  </div>
</div>


<div ng-show="pc.question3">
  <div class="wrapper">
    <div class="box">
      <div class="main-container">
        <div class="left-cl">

          <img ng-src="../assets/bark.jpg" class="questionpic3">
        </div>
        <div class="right-cl">
          <h2 class="questions">Is too much barking irksome?</h2>

          <button class="question" ng-click="pc.next3('low')"> Yes</button>
          <button class="question" ng-click="pc.next3('high')">No</button>

        </div>
      </div>
    </div>
  </div>
</div>


<div ng-show="pc.question4">
  <div class="wrapper">
    <div class="box">
      <div class="main-container">
        <div class="left-cl">

          <img ng-src="../assets/apartment.jpg" class="questionpic4">
        </div>
        <div class="right-cl">
          <h2 class="questions">Would you like an apartment-friendly companion?</h2>

          <button class="question" ng-click="pc.next4('yes')"> Yes</button>
          <button class="question" ng-click="pc.next4('no')">No</button>

        </div>
      </div>
    </div>
  </div>
</div>


<div ng-show="pc.question5">
  <div class="wrapper">
    <div class="box">
      <div class="main-container">
        <div class="left-cl">

          <img ng-src="../assets/kids.jpg" class="questionpic5">
        </div>
        <div class="right-cl">
          <h2 class="questions">Will your new friend be living or interacting with children?</h2>

          <button class="question" ng-click="pc.next5('yes')"> Yes</button>
          <button class="question" ng-click="pc.next5('no')">No</button>

        </div>
      </div>
    </div>
  </div>
</div>

<div ng-show="pc.question6">
  <div class="wrapper">
    <div class="box">
      <div class="main-container">
        <div class="left-cl">

          <img ng-src="../assets/pet.jpg" class="questionpic6">
        </div>
        <div class="right-cl">
          <h2 class="questions">How about with other pets?</h2>

          <button class="question" ng-click="pc.next6('yes')"> Yes</button>
          <button class="question" ng-click="pc.next6('no')">No</button>

        </div>
      </div>
    </div>
  </div>
</div>

<div ng-show="pc.question7">
  <div class="wrapper">
    <div class="box">
      <div class="main-container">
        <div class="left-cl">

          <img ng-src="../assets/train.jpeg" class="questionpic7">
        </div>
        <div class="right-cl">
          <h2 class="questions">Is simple trainability important to you?</h2>

          <button class="question" ng-click="pc.next7('easy')"> Yes</button>
          <button class="question" ng-click="pc.next7('hard')">No</button>

        </div>
      </div>
    </div>
  </div>
</div>

<div ng-show="pc.question8">
  <div class="wrapper">
    <div class="box">
      <div class="main-container">
        <div class="left-cl">

          <img ng-src="../assets/energy.jpg" class="questionpic8">
        </div>
        <div class="right-cl">
          <h2 class="questions">Is a high energy dog too much for you?</h2>

          <button class="question" ng-click="pc.next8('low')"> Yes</button>
          <button class="question" ng-click="pc.next8('high')">No</button>

        </div>
      </div>
    </div>
  </div>
</div>




<div ng-show="pc.question9">
  <div class="wrapper">
    <div class="box">
      <div class="main-container">
        <div class="left-cl">

          <img ng-src="../assets/size1.jpg" class="questionpic9">
        </div>
        <div class="right-cl">
          <h2 class="questions">What size dog would you prefer?</h2>


          <button class="question" ng-click="pc.next9('small')">Small</button>
          <button class="question" ng-click="pc.next9('medium')">Medium</button>
          <center><button class="question" ng-click="pc.next9('large')">Large</button>    </center>

        </div>
      </div>
    </div>
  </div>
</div>
<!--
end of questions -->



<!-- start results -->


<nav ng-show="pc.navbar"  class="navbar navbar-default">
  <div class="container-fluid">

    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <img class= "logoHead" ng-src="../assets/breedhead3.png">
    </div>



    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li><a ng-href="#!home">Home</a></li>
        <li><a ng-href="#!breeds">Breeds</a></li>
        <li><a href="#">Resources</a></li>
      <li><a ng-click="wc.login()" ng-href="#!profile/1">Profile</a></li>

    </ul>


      <ul class="nav navbar-nav navbar-right">
      <li ng-click="pc.logOut()"><span class="glyphicon glyphicon-log-out"></span> Logout</li><br>
          <li>
            {{pc.secretData}}
          </li>

</ul>
      </div>



</div>
  </nav>
  <br>

  <!-- show header -->
  <div ng-show="pc.header">
    <center><img class="resultHeader" ng-src="../assets/dog-header.jpg"></center>
  </div>
  <br><br>


  <!-- reveal pup results -->
  <center>
  <div ng-repeat="pup in pc.dogs.list">

      <div class="col-sm-4">
        <div class="span4">


          <img ng-src="{{pup.pics}}" class="resultPics">
          <p align="center"> <a ng-href="#!views/{{pup.id}}" class="btn btn-primary btn-block">{{pup.name}}</a></p>

        </div>
      </div>

    </div>

</center>


<br><br><br><br>
<center>
  <div ng-show="pc.results"> <a ng-click="pc.saveResults(pc.desiredPetObject)" class="btn btn-primary">Save your results</a></div> </center>
