



<!-- {{pc.desiredPetObject}} -->
Does a high level of shedding bother you?

<button ng-click="pc.desiredPetObject.shed='low'; pc.result(pc.desiredPetObject)">Yes</button>
<button ng-click="pc.desiredPetObject.shed='high'; pc.result(pc.desiredPetObject)">No</button>

How about drooling?

<button ng-click="pc.desiredPetObject.drool='low'; pc.result(pc.desiredPetObject)">Yes</button>
<button ng-click="pc.desiredPetObject.drool='high'; pc.result(pc.desiredPetObject)">No</button>

Barking?

<button ng-click="pc.desiredPetObject.bark='low'; pc.result(pc.desiredPetObject)">Yes</button>
<button ng-click="pc.desiredPetObject.bark='high'; pc.result(pc.desiredPetObject)">No</button>

Apartment friendly?

<button ng-click="pc.desiredPetObject.apartment='yes'; pc.result(pc.desiredPetObject)">Yes</button>
<button ng-click="pc.desiredPetObject.apartment='no'; pc.result(pc.desiredPetObject)">No</button>



Kids?

<button ng-click="pc.desiredPetObject.kids='yes'; pc.result(pc.desiredPetObject)">Yes</button>
<button ng-click="pc.desiredPetObject.kids='no'; pc.result(pc.desiredPetObject)">No</button>



<table>
  <thead>
    <tr>
      <th>Name</th>
    </tr>
  </thead>

<tr ng-repeat="pup in pc.dogs.list">
    <td>{{pup.name}}</td>
</tr>
</table>
