<div ng-repeat="pup in spc.currentPup.details">

<nav class="navbar">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand"></a>
    </div>
    <ul class="nav navbar-nav navbar-right">
      <li><a href="#"><span class="glyphicon glyphicon-home"></span> Explore the {{pup.name}} community</a></li>
      <li><a href="..#!/puppers.html"><span class="glyphicon glyphicon-step-backward"></span>Back</a></li>
    </ul>
  </div>
</nav>




<style>
  .jumbotron {
  background-color: #ff704d;
color: white;
}

.stats{
  height: auto;
width: auto;
}


</style>
<div class="header">
  <div class="jumbotron">
    <!-- <img class="pupHead" ng-src="{{pup.head_pic}}"> -->
    <center><h1>{{pup.name}}</h1></center>
  </div>
</div>

<div class="row-offcanvas row-offcanvas-left">
  <div id="sidebar" class="sidebar-offcanvas">
      <div class="col-md-3">
          <img ng-src="{{pup.pic4}}" class="stats">

      </div>
  </div>
</div>









    <!-- Page Content -->
    <div class="container">

        <hr class="featurette-divider">

        <!-- First Featurette -->
        <div class="featurette" >
            <img class="featurette-image img-rounded img-responsive pull-right" ng-src="{{pup.pic1}}">

            <div class="card text-left" style="width: 70rem;">
  <div class="card-block">
<p class="lead text-justify">{{pup.about}}</p>
  </div>
</div>
</div>




        <hr class="featurette-divider">
<br>
        <!-- Second Featurette -->
        <div class="featurette">
            <img class="featurette-image img-rounded img-responsive pull-left" ng-src="{{pup.pic2}}">

            <div class="card text-right text-responsive" style="width: 110rem height:60rem;">
  <div class="card-block">
<p class="lead">{{pup.about1}}</p>
  </div>
</div>
</div>


        <br><br><br><br>
        <hr class="featurette-divider">

        <!-- Third Featurette -->


            <img class="featurette-image img-rounded img-responsive pull-right" ng-src="{{pup.pic3}}">

            <div class="card text-left" style="width: 70rem;">
  <div class="card-block">
<p class="lead text-justify">{{pup.about2}}</p>
  </div>
</div>
</div>
<hr class="featurette-divider">

        <br><br>




</div>
