



<style>
body {
  background-color: #F4F190;
}

.jumbotron {
background-color: #ff704d;
}

.btn{
  background-color: #ff704d;
  length: 100px;
  width: 200px;
}
</style>

<!-- First Container -->
<div class="container-fluid bg-1 text-center">
  <div class="jumbotron">
    <img ng-src="../assets/breedhead3.png">
</div>

<img ng-src="../assets/dogsil-8.png" class="animated fadeInUp">

<img ng-src="../assets/dogsil-6.png" class="animated fadeInRight">

<img ng-src="../assets/dogsil-7.png" class="animated fadeInLeft">

<img ng-src="../assets/dogsil-1.png" class="animated fadeInDown">
<br><br>

<a ng-click="wc.login()"> <center><button class="btn btn-primary btn-block">Login with Google</button></center>
</a>

</div>
